
.odd {
    background-color:  rgb(247, 177, 188) ;
    font-family: "Verdana", "DejaVu Sans",  sans-serif;
}
 
#number2 {
    color: blue;
    font-size: 36px;
}
#number3{
    font-size: 24px;
}
#number4 {
    background-color: rgb(133, 187, 133);
    font-size: 24px;
    font-weight: bold;
}